# Example configuration for backend
# Copy this file to .env and update the variables as needed

MONGO_URI='mongodb://localhost:27017/inotebook'
JWT_SECRET='HarryPotterAndTheSorcerersStone'
PORT=5000
